Subnetwork <strong>${subnetwork_human_name}</strong> connected to Virtual Network <strong>${virtual_network_human_name}</strong> located in the <strong>${virtual_network_region_human_name}</strong> region."
